body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.audio-grid {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.empty-column {
  width: 40%;
}

.audio-player {
  border-radius: 15px;
  padding: 10px;
  text-align: center;
  background-color: #ffc10759;
}

.audio-player p {
  margin: 5px 0;
  font-weight: bold;
  font-style: italic;
}

audio {
  width: 100%;
  margin-top: 10px;
}

.ctn-button {
  background-color: transparent; 
  border-color: white;
  color: white;
  padding: 10px 20px; 
  margin: 10px; 
  border: '1px'; 
  font-size: 16px; 
  cursor: pointer; 
}

.ctn-button:hover {
  background-color: #ffc107; /* Darker blue on hover */
}

audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
  background-color: #ffc10700;
}

/* Media query for small screens */
@media only screen and (max-width: 768px) {
  .audio-grid {
    width: 100%;
    grid-template-columns: 1fr;
    padding-top: 15px;
  }
  
  .empty-column {
    display: none;
  }
}
